@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f4f4f4; /* Light mode background */
}

body {
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark mode */
}

body.dark {
  background-color: #121212; /* Dark background for the whole app */
  color: #e5e5e5; /* Light text color for readability */
}
